.hero--main {
  padding: 181px 0;
  text-align: center;
  color: $white-text;

  @include media-tablet {
    padding-top: 182px;
  }

  @include media-mobile {
    padding: 189px 0 186px;
  }
}

.hero h1 {
  @include reset-text-slyle;
  text-transform: uppercase;
}

.hero--main h1 {
  @include big-accent-text;
  font-size: 45px;
  letter-spacing: 0.03em;

  @include media-tablet {
    margin-left: -15px;
  }

  @include media-mobile {
    font-size: 38px;
    line-height: 49px;
  }
}

.hero--main p {
  @include reset-text-slyle;
  font-family: $f-accent-regular;
  font-style: $font-style-italic;
  $font-weight-normal: normal;
  font-size: 38px;
  line-height: 49px;
  text-transform: none;
  font-weight: $font-weight-normal;
  margin-top: -5px;

  @include media-tablet {
    margin-left: -15px;
  }

  @include media-mobile {
    font-size: 34px;
    line-height: 44px;
  }
}

.no-webp .hero--main {
  background-color: $primary-golden-bg;
  background-image: url("../img/hero-main/hero-dsk@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-color: $primary-golden-bg;
    background-image: url("../img/hero-main/hero-dsk@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.webp .hero--main {
  background-color: $primary-golden-bg;
  background-image: url("../img/hero-main/hero-dsk@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-color: $primary-golden-bg;
    background-image: url("../img/hero-main/hero-dsk@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hero--catalog {
  padding: 102px 0;
  text-align: center;
  color: $white-text;

  @include media-mobile {
    padding: 89px 0;
  }
}

.hero--catalog h1 {
  @include section-titles;
  line-height: 44px;
}

.hero--catalog p {
  @include reset-text-slyle;
}

.no-webp .hero--catalog {
  background-color: $primary-golden-bg;
  background-image: url("../img/hero-catalog/hero-catalog-dsk@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-color: $primary-golden-bg;
    background-image: url("../img/hero-catalog/hero-catalog-dsk@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.webp .hero--catalog {
  background-color: $primary-golden-bg;
  background-image: url("../img/hero-catalog/hero-catalog-dsk@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina {
    background-color: $primary-golden-bg;
    background-image: url("../img/hero-catalog/hero-catalog-dsk@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
