.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 92px;

  @include tablet-mobile {
    margin-left: 0;
  }

  @include media-tablet {
    margin-top: 44px;
    width: 87.61%;
  }

  @include media-mobile {
    flex-direction: column;
    margin-top: 43px;
  }
}

.footer__links li {
  transition: $basic-transition;
}

.footer__links li:hover {
  color: $golden-text;
}

.footer__links li:active {
  color: $light-grey-text;
}

.links__orders {
  @include reset-list-slyle;
  @include medium-text-average;
  margin-right: 70px;

  @include media-tablet {
    margin-right: 86px;
  }

  @include media-mobile {
    margin-right: 0;
  }
}

.links li {
  margin-bottom: 18px;
}

.links__orders a {
  @include reset-style-link;
}

.links__company-links {
  @include reset-list-slyle;
  @include medium-text-average;
  margin-right: 109px;

  @include media-tablet {
    margin-right: 86px;
  }

  @include media-mobile {
    margin-right: 0;
    margin-top: 16px;
  }
}

.links__company-links a {
  @include reset-style-link;
}

.links__social-links {
  @include reset-list-slyle;
  @include medium-text-average;

  @include media-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 23px;
  }
}

.links__social-link {
  @include media-mobile {
    margin-bottom: 20px;
  }
}

.links__social-links a {
  @include reset-style-link;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links__social-links li {
  @include media-mobile {
    margin-right: 26px;
  }
}

.links__social-links svg {
  order: -1;
  margin-right: 10px;
  fill: currentColor;

  @include media-tablet {
    margin-right: 18px;
  }

  @include media-mobile {
    margin-right: 0;
    height: 21px;
    width: 20px;
  }
}

.links__social-links span {
  flex-grow: 1;

  @include media-mobile {
    display: none;
  }
}
