.slider {
  position: relative;
  margin-top: 60px;

  @include media-tablet {
    margin-top: 52px;
  }

  @include media-mobile {
    margin-top: 42px;
  }
}

.slider__slide {
  transition: $basic-transition;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include tablet-mobile {
    width: 50%;
    flex-shrink: 0;
  }
}

.slider__slide:hover {
  filter: drop-shadow(10px 5px 16px $basic-golden-shadow);
  transform: scale(1.001);
}

.slider__slide:active {
  transform: scale(0.98);
  opacity: 0.8;
}

// .slider__slide:not(:last-of-type) {
//   margin-right: 30px;
// }

.slider img {
  margin-bottom: 20px;

  @include media-tablet {
    max-width: 100%;
    width: 324px;
    height: 340px;
  }

  @include media-mobile {
    min-width: 130px;
    margin-bottom: 14px;
  }
}

.slider h3 {
  @include reset-text-slyle;
  @include medium-text-average;
  line-height: 21px;
  color: $dark-grey-text;
  margin-bottom: 6px;
}

.slider p {
  @include reset-text-slyle;
  @include small-bold-text;
  line-height: 18px;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @include media-tablet {
    margin-top: 41px;
  }

  @include media-mobile {
    margin-top: 31px;
  }
}

.slider__dot {
  @include reset-style-button;
  margin-right: 15px;
}
